
.details{
    text-align: justify;
    padding:40px;
}
.foot {
    text-decoration: none;
}

.head {
    color: rgb(1, 98, 72);
    font-size: large;
}
.cont-back {
    background-color: #047bbc;

}
.back {
    background-color: #8c4747;
}

.gmail, .linkedin, .github {
    margin: 2px; 
    border: none;
}

.gmail{
    background-color: #c50e01;
}

.linkedin{
    background-color: rgb(16, 16, 148);
}

.github{
    background-color: rgb(84, 75, 75);
}