
.details{
    text-align: justify;
    padding:40px;
}
.foot {
    text-decoration: none;
}

.head {
    color: rgb(1, 98, 72);
    font-size: large;
}
.cont-back {
    background-color: #047bbc;

}
.back {
    background-color: #8c4747;
}